* {
    margin: 0;
}
h1 {
    color: rgba(247, 25, 25, 0.808);
    text-align: center;  /* отцентрировать текст */
    font-size: 40px; /*размер шрифта, изначально по умолчанию размер 32рх */
    margin-bottom: 50px; /* отступ снизу */
}
article {
    width: 70%;
    margin: auto; /* auto для центрирования */
    margin-bottom: 40px;
    padding: 20px 0;
}
.post-blue {
    background-color: lightskyblue;
}
.post-yellow {
    background-color: lightgoldenrodyellow;
}
h4 {
    color: deeppink;
    font-size: 28px;
    text-align: center; /*отцентрировать текст*/
    margin-top: 40px;
}
img {
    display: block; /* из картинки в блок*/
    margin: 30px auto 20px; /*центрирование блока*/
    width: 400px;
    
}
p {
    font-size: 20px; /* по умолчанию 16рх у тега - h1 */
    text-align: center;
}
/* 
Изначально картинка имеет размеры 1000х500
при указании размера 500рх для ширины, 
высота масштабируется автоматически относительно ширины.
Селектор - select - выборка (выбирать)
Селектор по тегу - выбрали тег  - h1


Свойство - параметр, который мы хотим поменять
color - свойство ткста

Значение свойства - конкретное значение, на которое мы хотим изменить свойство

селектор {
    свойство: значение
}
selector{
    property: value
}
Форматы цветов:
$HEX
rgb(red, green, blue: 0 - 255, 0 - 255, 0 - 255)
red

margin - свойство изменения отступов
1. -top - сверху
2. -right - справа
3. -bottom - снизу
4. -left - слева

Можно записывать сразу несколько значений в MARGIN:
4 значения сразу с 4 сторон отступы по часовой стрелке по порядку.
3 значения: 20рх auto 30px; - 20-сверху, auto - справа и слева, 30 - снизу.
2 значения: 20рх 40рх; - 20-сверху и снизу, 40-справа и слева.
1 значение: 50рх; - отступы со всех сторон.

*/